elasticsearch:
  image: sardegnaturismo/dashboard-elasticsearch:1.7
  environment:
    NODE_NAME: "Elastic_1"
    PLUGINS: "elasticsearch/marvel/latest,mobz/elasticsearch-head"
  ports:
    - "9200:9200"
  volumes:
    - "/data/backup:/backup"
kibana:
  image: kibana:4.1.8
  links:
    - elasticsearch
proxy:
  image: wellnetimages/nginx-proxy:latest
  links:
    - kibana
  ports:
    - "80:80"
  volumes: 
    - "./docker/nginx/nginx.conf:/etc/nginx/nginx.conf"
    - "./docker/nginx/proxy.conf:/etc/nginx/proxy.conf"
    - "./docker/nginx/sites-enabled:/etc/nginx/sites-enabled"
    - "/data/passwords/htpasswd.prod:/etc/nginx/htpasswd.prod"
